* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    background: url("bg.jpg") bottom center;
    background-size: cover;
}

body {
    font-family: sans-serif;
    justify-content: space-evenly;
    display: flex;
}

#allKeys {
    position: absolute;
    top: 37%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    display: flex;
}

.key {
    width: 150px;
    height: 150px;
    margin: 5px;
    margin-top: 0;
    color: white;
    background: rgba(0,0,0,0.4);;
    border: 8px solid rgb(61, 57, 57);
    border-radius: 25%;
    text-align: center;
}

.workKey {
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

.key h1 {
    margin-top: 4%;
    font-size: 380%;
}

.key p {
    color: #ffc600;
    font-size: 250%;
}
